// z-index
$z-index: (
  popup: 1000,
  modal: 1050,
  overlay: 900,
  dropdown: 800,
  header: 700,
  footer: 600,
);
// Font Families
@mixin main-font {
  font-family: "Poppins", sans-serif;
}

@mixin body-font {
  font-family: "Roboto", sans-serif;
}

@mixin header-font {
  font-family: "PT Serif", serif;
}

@mixin text-font {
  font-family: "Inter", sans-serif;
}

@mixin sub-font {
  font-family: "Fragment Mono", monospace;
}

// Unit Conversion
@function to-rem($px) {
  @return #{calc($px / 16)}rem;
}

// Selection Prevention
@mixin no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:focus {
    outline: none !important;
  }
}

// Sizing
@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin square-size($size) {
  width: $size;
  height: $size;
}

// Icon Handling
@mixin icon-size($size) {
  :deep(svg) {
    height: $size;
    width: $size;
  }
}

@mixin icon-color($color) {
  :deep(svg) {
    color: $color;
  }
}

// Layout
@mixin layout-width {
  width: 100%;
  max-width: to-rem(1450);
  margin: auto;
}

@mixin grid-layout($columns, $gap) {
  display: grid;
  grid-template-columns: repeat(calc(#{$columns} / 4), 1fr);
  gap: $gap;

  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(calc(#{$columns} / 2), 1fr);
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat($columns, 1fr);
  }
}

// Visual Effects
@mixin shadowed {
  box-shadow: 0px 0px 4px -1px #1019280d;
  -webkit-box-shadow: 0px 0px 4px -1px #1019280a;
  -moz-box-shadow: 0px 0px 4px -1px #10192814;
}

@mixin shadow {
  box-shadow: 0px to-rem(16) to-rem(40) -8px #585c5f29;
}

@mixin shimmer-background {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 15%, #ececec 30%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

// Animations
@mixin shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@mixin pulse {
  animation: pulse 1.5s ease-out;
}

// Text Handling
@mixin line-clamp($lines) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

// Aspect Ratio
@mixin aspect-ratio($width, $height) {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: calc($height / $width * 100%);
}

// Header Variables & Mixins
$header-height: to-rem(60);

@media only screen and (min-width: to-rem(900)) {
  $header-height: to-rem(80);
}

@mixin header-height {
  height: $header-height;
}

@mixin header-top {
  top: $header-height;
}

@mixin header-margin {
  margin-top: $header-height;
}

// Page Padding
@mixin page-padding {
  box-sizing: border-box;
  width: $max-width;
  max-width: 100%;
  margin: 0 auto;

  @media (max-width: to-rem(600)) {
    padding: 0 to-rem(15);
  }

  @media (min-width: to-rem(601)) {
    padding: 0 to-rem(50);
  }

  @media (min-width: to-rem(600)) and (max-width: $max-width) {
    padding: to-rem(40) to-rem(60);
  }
}

@mixin selection {
  &::selection {
    background-color: var(--primary-500);
    color: white;
  }
}

@mixin no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

// Keyframes
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

// Layout Variables
$max-width: to-rem(1450);
